/* CSS declarations go here */
@font-face {
    font-family: 'helvetica';
    src: url("fonts/HelveticaNeueLTStd-UltLt.otf");
}

body {
    /*font-family: "HelveticaNeueW01-Thin";*/
    font-family: "helvetica";
    font-size: 20px;
    background: #0a1126;
}

.flex-container {
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
    padding: 1.5em 1em;
    border-radius: 0.2em;
}

.flex-item {
    /*
    border: dashed 1px white;
    */
    border-radius: 0.2em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#map {
    border-top: dotted 1px lightseagreen;
    border-bottom: dotted 1px lightseagreen;
}

#header > h1 {
    font-weight: 900;
    font-size: 2.5em;
    color: red;
    margin-bottom: 0;
}

#header > h3 {
    font-weight: 500;
    font-size: 1em;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: .2rem;
}

video#bgvid {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

#search-result {
    overflow-y: auto;
    margin: 50px 0 100px 0;
}

#heading {
    margin: 50px 0 20px 0;
}

#search-meta {
    font-size: 13px;
    color: #666;
    height: 15px;
}

.result-item {
    /*    display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;*/
    color: white;
    border-top: dotted 1px lightseagreen;
    border-bottom: dotted 1px lightseagreen;
}

.event-item {
    /*    width: 1200px;
        height: 60px;
        border-bottom: solid 1px #eee;
        padding: 8px 0;*/
}

.badge {
    width: 280px;
    padding: 5px 5px 5px 10px;
    float: left;
    border-radius: 5px;
    margin-right: 10px;
    border-right: dotted 1px lightseagreen;
    border-left: dotted 1px lightseagreen;
}

.type {
    padding-top: 5px;
    font-size: 1.2em;
    color: red;
}

.remarks {
    font-size: 1em;
}

.event-item .data {
    padding-top: 5px;

    font-size: 17px;
    line-height: 20px;
    float: left;
    margin-right: 50px;
}

.lefInput {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.formInput {
    height: 49px;
    padding: 00px 0px 00px 5px;
    border: none;
    border-left: 1px solid #eee;
    margin: 0 0 0 0px;
    font-size: 16px;
    width: 80px;
    opacity: 1;
    position: relative;
    float: left;
    background: white;
}

.formSearch {
    padding-left: 30px;
    height: 49px;
    margin: 0 0 0 0;
    font-size: 16px;
    width: 80px;
    background: red;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    line-height: 57px;
}

#form-date-1 {
    width: 160px;
}

#form-date-2 {
    width: 160px;
}

#mainForm {
    margin: 20px 0 20px 0;
    height: 50px;
    padding: 20px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border-bottom: dotted 1px lightseagreen;
    border-top: dotted 1px lightseagreen;
}

#formInternal {
    opacity: 0.8;
}

#search-box {
    width: 500px;

    outline: 0;
}

.container {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    top: 20px;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#map {

}

#noData {
    color: white;
    font-size: 1.5em;
    padding: 0.5em 0 0.5em 0.5em;
}