/* CSS declarations go here */
@font-face {
    font-family: 'helvetica';
    src: url("fonts/HelveticaNeueLTStd-UltLt.otf");
}

body {
    /*font-family: "HelveticaNeueW01-Thin";*/
    font-family: "helvetica";
    font-size: 20px;
}

video#bgvid {
    position: relative;
    top: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

#header {
    padding-left: 60px;
    position: absolute;
    top: 160px;
}

#search-result {
    overflow-y: auto;
    padding-left: 60px;
    margin: 20px 0 100px 0;
    width: 1000px;
    position: absolute;

    top: 400px;
}

#heading {
    margin: 50px 0 20px 0;
}

#search-meta {
    font-size: 13px;
    color: #666;
    height: 15px;
}

.event-item {
    width: 1200px;
    height: 60px;
    border-bottom: solid 1px #eee;
    padding: 8px 0;
}

.event-item .badge {
    padding: 1px 0px 1px 10px;
    height: 60px;
    width: 150px;
    background: #eee;
    float: left;
    border-radius: 5px;
    margin-right: 10px;
}

/*.event-item .badge {
    padding: 5px 5px 5px 10px;
    width: 150px;
    border-right: 1px solid #eee;
    background: #eee;
    border-radius: 5px;
    float: left;
}*/

.event-item .type {
    padding-top: 5px;
    font-size: 25px;
    color: red;
}

.event-item .data .remarks {
    font-size: 15px;
    white-space: nowrap;
}

.event-item .data {
    padding-top: 5px;

    font-size: 17px;
    line-height: 20px;
    float: left;
    margin-right: 50px;
}

.lefInput {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.formInput {
    height: 49px;
    padding: 00px 0px 00px 5px;
    border: none;
    border-left: 1px solid #eee;
    margin: 0 0 0 0px;
    font-size: 16px;
    width: 80px;
    opacity: 1;
    position: relative;
    float: left;
    background: white;
}

.formSearch {
    padding-left: 30px;
    height: 49px;
    margin: 0 0 0 0;
    font-size: 16px;
    width: 80px;
    background: red;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    line-height: 57px;
}

#form-date-1 {
    width: 160px;
}

#form-date-2 {
    width: 160px;
}

#mainForm {
    margin: 20px 0 0 0;
    width: 1200px;
    height: 50px;
    padding: 20px 0 20px 20px;
    background: rgba(0,0,0, 0.5);
    border-radius: 8px;
    border-bottom: dotted 1px lightseagreen;
    border-top: dotted 1px lightseagreen;

}

#formInternal {
    opacity: 0.8;
    padding-left: 30px;
}

#search-box {
    width: 500px;

    outline: 0;
}

/*
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
*/
