<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>weather markLogic</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <!--<script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    -->
    <link href="/bower_components/angular-datepicker/dist/angular-datepicker.css" rel="stylesheet" type="text/css"/>

    <script src="/bower_components/angular-datepicker/dist/angular-datepicker.min.js"></script>
    <script src="app.js"></script>

</head>

<body ng-app="weatherApp" ng-controller="SearchCtrl">
<video autoplay loop id="bgvid">
    <source src='videos/winter.webm' type=video/webm>
    <source src='videos/winter.mp4' type=video/mp4>
</video>
<div id="header" style="width: 1200px;  float: left;">
    <div>
        <div style="font-size: 50px; color: red;"><b>Severe Weather Events</b></div>
        <div style="font-size: 20px; color: white"><b>powered by MarkLogic</b></div>
    </div>
    <div >
        <form id="mainForm" name="mainForm">
            <div id="formInternal">
                <input class="formInput lefInput" type="text" id="search-box" name="search" placeholder="find weather events..."
                       ng-keypress="search($event)">
                <input class="formInput" class="date" type="date" id="from-date" name="from-date" placeholder="from"
                       min="1950-01-01"
                       max="2011-12-31">
                <input class="formInput" class="date" type="date" id="to-date" name="to-date" placeholder="to" min="1950-01-01"
                       max="2011-12-31"/>
                <input class="formInput" type="text" id="type" name="type" ng-model="eventType" placeholder="Type"/>
                <input class="formInput" type="text" id="state" name="state" ng-model="state" placeholder="State"/>
                <div class="formInput formSearch">Search</div>
            </div>
        </form>


    </div>
</div>
<div id="search-result">
    <div>
        <result-item ng-repeat="result in results" item="result"></result-item>
    </div>
</div>
<!--

        &lt;!&ndash; <div>
            <select ng-options="city as city for city in cities" ng-change="update_data()" ng-model="place">
            </select>
        </div> &ndash;&gt;
    </div>


</div>-->

<!-- <div style="width: 291px;float: right; height: 100%; margin-top: 10px;">
        <iframe
        width="291"
        height="500"
        frameborder="0" style="border:0"
        ng-src="{{mapUrl}}" allowfullscreen>
        </iframe>
    </div>-->
</body>
</html>
